@media (min-width: 1500px){
	/*.container{
		max-width: 1400px;
	}*/
}
@media (max-width: 991px){
	.toggler{
		left: 0!important;
	}
	.menu {
	    position: absolute;
	    left: -100%;
	    top: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;
	    height: 100vh;
	    background: #fff;
	    width: 25%;
	    z-index: 99999;
	    gap: 56px;
	    transition: 0.3s;
	}
	.menu li a{
		color: #4e4e4e!important;
		font-size: 2rem;
	}

	.mobile_menu{
		display: block;
	}
}
@media (min-width: 768px) and (max-width: 991.98px){
	html{
		font-size: 80%;
	}
	.text-box {
	    bottom: 26%;
	}
}
@media (min-width: 576px) and (max-width: 767.98px){
	html{
		font-size: 60%;
	}
	.text-box {
	    bottom: 26%;
	}
}
@media (max-width: 576px){
	html{
		font-size: 35%;
	}
	.text-box {
	    bottom: 26%;
	}
}